@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

nav{
    max-width: 1250px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
   
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.logo{
    font-size: 50px;
    font-weight: 200;

}
nav ul {
    display: flex;
    justify-content: space-between;
    
}
nav ul li{
    padding: 0 25px;
    color: black;
}